<a href="{{url}}">
    <article class="post-card">
        {{#if feature_image}}
        <img class="post-card-image" src="{{img_url feature_image size="m"}}" alt="{{title}}" loading="lazy" />
        {{/if}}
        <div class="post-content">
            <h1>{{title}}</h1>
            <p>{{excerpt}}...</p>
        </div>
    </article>

</a>