<div class="sidebar-container">
    <div class="sidebar">
        <div class="post_content">
            <div id="search" class="input-drop">
                <input type="text" placeholder="Search places"></input>
                <ul></ul>
            </div>

            <h2 class="widget-title">Recent Posts</h2>
            {{#get "posts" limit="5" include="tags" as |recents|}}
            {{#if recents}}
            <ul class="sidebar-recent">
                {{#foreach recents}}
                <li>
                    <a class="post-title-link" href="{{url}}">{{title}}</a>
                </li>
                {{/foreach}}
            </ul>
            {{/if}}
            {{/get}}
            <h2 class="widget-title">Tags</h2>
            {{#get "tags" limit="10" include="count.posts"}}
            <ul class="sidebar-tags">
                {{#foreach tags}}
                <li>
                    <a class="tag-link" href="{{url}}">
                        <i class="fas fa-hashtag"></i>
                        <span class="tag-name">{{name}}</span>
                        <span class="tag-count">({{count.posts}})</span>
                    </a>
                </li>
                {{/foreach}}
            </ul>
            {{/get}}
        </div>
    </div>
</div>
